@font-face {
  font-family: "GT-Walsheim-Regular";

  src: url("https://d2xeqttht14d9p.cloudfront.net/GT-Walsheim-Regular.woff2") format("woff2"), /* Pretty Modern Browsers */
  url("https://d2xeqttht14d9p.cloudfront.net/GT-Walsheim-Regular.woff") format("woff"), /* Modern Browsers */
  url("https://d2xeqttht14d9p.cloudfront.net/GT-Walsheim-Regular.ttf")  format("truetype"), /* Safari, Android, iOS */
  url("https://d2xeqttht14d9p.cloudfront.net/GT-Walsheim-Regular.eot"); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'GT-Walsheim-Bold';
  src: url('https://d2xeqttht14d9p.cloudfront.net/GT-Walsheim-Bold.woff2') format('woff2'), /* Pretty Modern Browsers */
       url('https://d2xeqttht14d9p.cloudfront.net/GT-Walsheim-Bold.woff') format('woff'), /* Modern Browsers */
       url('https://d2xeqttht14d9p.cloudfront.net/GT-Walsheim-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://d2xeqttht14d9p.cloudfront.net/GT-Walsheim-Bold.eot') /* IE9 Compat Modes */
}

body {
  margin: 0;
  padding: 0;
  font-family: "GT-Walsheim-Regular";
  -webkit-font-smoothing: antialiased;
}
strong,
b {
  font-family: 'GT-Walsheim-Bold';
}

.bg--dark-blue {
  color: #fff;
  background-color: #061d38;
}
.bg--dark-blue h3,
.bg--dark-blue h2,
.bg--dark-blue h4,
.bg--dark-blue p {
  color: #fff;
}

#root {
  padding: 0 10px;
  margin: auto;
}
@media (min-width: 420px) {
  #root {
    width: 100%;
    max-width: 380px;
    padding: 0 20px;
  }
}

.App {
  text-align: center;
}

h2 {
  font-size: 40px;
  line-height: 44px;
}
h3 {
  font-size: 34px;
  line-height: 38px;
}
p {
  font-size: 20px;
  line-height: 26px;
}
.font--small {
  font-size: 16px;
  line-height: 18px;
}
.font--centre {
  text-align: center;
}

span.preview {
  display: inline-block;
  background: #fbef51;
  padding: 5px 5px 0 5px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'GT-Walsheim-Bold';
}
.preview span {
  display: block;
  padding: 5px;
}
.dropzone__wrapper {
  margin: 40px auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.dropzone {
  display: flex;
  width: 250px;
  height: 150px;
  padding: 20px;
  border-width: 5px;
  border-style: dashed;
  border-color: #fbef51;
  background: rgba(251, 239, 81, 0.3);
  align-items: center;
  flex-direction: column;
  transition: 2s all;
  cursor: pointer;
  font-family: 'GT-Walsheim-Bold';
}
.error {
  margin-bottom: 0;
}
.bg--dark-blue .dropzone p {
  color: #fbef51;
  font-size: 20px;
  /*text-transform: uppercase;*/
}
.bg--dark-blue .dropzone .cross {
  font-size: 100px;
  margin: 10px;
}
.dropzone--active {
	border-style: solid;
}

.upload-button {
  position: relative;
  width: 198px;
  margin: auto;
}

a {
  color: #fff;
}

input[type="email"] {
  display: inline-block;
  width: 255px;
  margin: 0 auto;
  padding: 15px 20px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 2px solid #fff;
  font-size: 18px;
  line-height: 18px;
  font-family: "GT-Walsheim-Regular";
}
@media (min-width: 420px) {
  input[type="email"] {
    width: 330px;
  }
}
input[type="email"]:focus:invalid {
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(240,66,87,1);
  -moz-box-shadow: inset 0px 0px 0px 2px rgba(240,66,87,1);
  box-shadow: inset 0px 0px 0px 2px rgba(240,66,87,1);
  border-color: rgba(240,66,87,1);
  outline: 0;
}
.font--label {
  margin-bottom: 10px;
}
input[type="submit"] {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  margin-top: 20px;
  padding: 14px 30px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background: none;
  font-size: 18px;
  line-height: 18px;
  font-family: 'GT-Walsheim-Bold';
}
input[type="submit"]:disabled {
  opacity: 0.3;
  cursor: default;
}
input[type="submit"]:disabled.active {
  opacity: 1;
  background: #fbef51;
  border-color: #fbef51;
  color: #000;
  padding-left: 40px;
  -webkit-appearance: none;
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 10px;
}
label[for="checkbox"] span {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  margin: -20px 0 0 30px;
}
label[for="checkbox"] span a {
  border-bottom: 2px solid #fff;
}

.loading {
  border: 4px solid #000;
  border-top-color: transparent;
  border-left-color: transparent;
  width: 10px;
  height: 10px;
  opacity: 0.8;
  border-radius: 50%;
  animation: loading 0.7s infinite linear;
  -webkit-animation: loading 0.7s infinite linear;
}
.loading {
  margin-top: 36px;
  position: absolute;
  left: 15px;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

img {
  height: auto;
}

.fuga__img-uploaded {
	width: 330px;
	margin: 0 auto;
  text-align: center;
}
@media (min-width: 420px) {
  .fuga__img-uploaded {
    width: 360px;
  }
}
.fuga__img-uploaded p {
  margin-bottom: 0;
}
.fuga__img-uploaded img,
.fuga__thank-you img {
  max-height: 190px;
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 300px;
}
.fuga__thank-you {
  border: solid 5px #fbef51;
  padding: 10px;
  width: 270px;
  margin: 40px auto;
  text-align: center;
}
@media (min-width: 420px) {
  .fuga__thank-you {
    width: 330px;
    padding: 20px;
  }
}
.fuga__thank-you h3 {
  text-transform: uppercase;
  color: #fbef51;
  margin: 20px 0;
  font-family: 'GT-Walsheim-Bold';
  letter-spacing: 1px;
}

.link {
  text-decoration: none;
  color: #fff;
  border-bottom: 3px solid #fff;
  font-family: 'GT-Walsheim-Bold';
}
.link:hover {
  border-bottom: 3px solid #fbef51;
}
